pandas
numpy
python-dotenv
ipython
scikit-learn
langchain 
langchain-community 
langchain-elasticsearch
elasticsearch
langgraph
ollama
langchain-ollama
langchain-openai
detectaicore
fastapi==0.114.2
uvicorn
pydantic
tiktoken