elastic/data
elastic/docs
elastic/keys
elastic/logs
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
__pycache__/
.ipynb_checkpoints/

elastic/docker/ollama
elastic/keys
elastic/data
PII-DICOM/output
PII-DICOM/input
PII-DICOM/sample_data
*.dcm
*.pdf
*.csv
*.zip
*.jpg
*.jpeg
*.
tika/data
PII-DICOM/Tools-for-Health-Data-Anonymization