_Resources

# Secrets ---------------------

.secrets/*
*.key
*key.pem
.env
docker/.secrets

# Volumes ---------------------

db/.docker_volumes/*

# MLflow ----------------------

mlruns
outputs
mlflow/mflow.db
mlflow/mlruns
archive
dataset
output
__pycache__
custom_classifier/output
custom_classifier/output/dataframe.csv

# LOgs
*.log
logs/
