elastic/data
elastic/docs
elastic/keys
elastic/logs
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
__pycache__/
.ipynb_checkpoints/

elastic/docker/ollama
