pandas>=1.3.0
neo4j>=4.4.0
pyyaml>=6.0
python-dotenv>=0.19.0
numpy>=1.20.0
matplotlib>=3.4.0
seaborn>=0.11.0
annotated-types
cachetools
azure-monitor-opentelemetry==1.5.0
azure-monitor-opentelemetry-exporter==1.0.0b26
azure-core-tracing-opentelemetry==1.0.0b11
opentelemetry-api==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-instrumentation==0.42b0
opentelemetry-instrumentation-django==0.42b0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-instrumentation-flask==0.42b0
opentelemetry-instrumentation-psycopg2==0.42b0
opentelemetry-instrumentation-requests==0.42b0
opentelemetry-instrumentation-urllib==0.42b0
opentelemetry-instrumentation-urllib3==0.42b0
opentelemetry-instrumentation-wsgi==0.42b0
opentelemetry-semantic-conventions==0.42b0
opentelemetry-util-http==0.42b0
opentelemetry-resource-detector-azure==0.1.4