streamlit
pandas
numpy
python-dotenv
PyMuPDF
streamlit_pdf_viewer
ipython
scikit-learn
langchain 
langchain-community
langchain-experimental 
langchain-openai
langchain-ollama
xmltodict
pypdf
lark
openai 
html2text
streamlit-authenticator
pymupdf4llm
neo4j
fastapi
psutil
orjson
sentence-transformers