detectaicore
google-cloud-aiplatform
pandas
numpy
python-dotenv
PyMuPDF
ipython
langchain 
langchain-community
langchain-experimental 
xmltodict
pymupdf4llm
langchain-google-genai
google-generativeai
langchain-google-community
pymupdf4llm
langchain-google-vertexai
langgraph
langchain-openai
yfinance
jupyter
jupyterlab
matplotlib
plotly
openai